dnspython==2.3.0
colorama==0.4.6
requests==2.31.0
beautifulsoup4==4.12.2
tqdm==4.66.1
progress==1.6
ipaddress==1.0.23
urllib3==1.26.16
certifi==2023.7.22
idna==3.4
charset-normalizer==3.2.0
six==1.16.0 